/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- Other */
.float_left{
	float:left;
}
.float_right{
	float:right;
}
.clear_b{
	clear:both;
}
.dis_inline_b{
	display:inline-block;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- Font */
.font8{
	font-size:8px;
}
.font10{
	font-size:10px;
}
.font11{
	font-size:11px;
}
.font12{
	font-size:12px;
}
.font13{
	font-size:13px;
}
.font14{
	font-size:14px;  
}
.font16{
	font-size:16px;
}
.font18{
	font-size:18px;
}
.font20{
	font-size:20px;
}
.font22{
	font-size:22px;
}
.font24{
	font-size:24px;
}
.font26{
	font-size:26px;
}
.font30{
	font-size:30px;
}
.font36{
	font-size:36px;
}
.font40{
	font-size:40px;
}
.font_bold{
	font-weight:bold;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- Color */
.color_black{
	color:#000;
}
.color_lightblack{
	color:#333;
}
.color_darkgrey{
	color:#666;
}
.color_lightgrey{
	color:#999;
}
.color_white{
	color:#FFF;
}
.color_red{
	color:#F00;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------- Blank Height */
.blankbox_h1{
	height:1px;
}
.blankbox_h2{
	height:2px;
}
.blankbox_h3{
	height:3px;
}
.blankbox_h5{
	height:5px;
}
.blankbox_h10{
	height:10px;
}
.blankbox_h15{
	height:15px;
}
.blankbox_h20{
	height:20px;
}
.blankbox_h25{
	height:25px;
}