 body {
    background-color: #e0f7fa;
}

.transbox {
    background-color: #1a237e;
    color: #ffffff;
    padding:10px;
    border-radius: 10px;
    border: 1px solid #ffffff;
}
.head {
    text-align: center;
    color:#FEF102;
}
