    /*position: fixed;*/  
    /* #bbdefb  */

.container {
    background-color: #e0f7fa;
    text-align: center;
    padding:10px;
}  

.transbox {
    background-color: #ffffff;
    opacity: 0.3;
    filter: alpha(opacity=50);
    /*text-align: left;*/
    padding:10px;
    border-radius: 10px;
    border: 1px solid #90caf9;

}

.transbox h1,img {
    margin: 3%;
    font-weight: bold;
    color: #000000;
    font-size: 30px;
}

.aside{
    width: 215px;
    background-color: #ffffff;
    padding:5px;
    position: absolute;
    top: 128px;
}
