<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">

  <!-- link -->
  <title>
    J.O.O.B SHOP
  </title>


  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- .css -->
  <link  href="./../../public/css/web.css" rel="stylesheet" type="text/css">

  <!-- fonr -->
  <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

</head>

<body style="background-color: #e0f7fa" >
 <!-- ======================== bar ================== -->
 <nav class="navbar-fixed">
  <div class="nav-wrapper indigo darken-4">
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="register">Register</a></li>
    </ul>
    <!-- =========== Login  ===========-->

    <form class="col s13" method="post", action = "login">
      <div class="row">
        <div class="right">
          <button class="waves-effect waves-light btn" type="submit">Login</button>
        </div>

        <div class="input-field col s2 right">
          <input  placeholder="Password" name="login_password" type="password">
        </div>
        <div class="input-field col s1 right">
          <input placeholder="Username" name="login_email" type="text">
        </div>

        <div class="right">
          <i class="material-icons">perm_identity</i>
        </div>
      </div>
    </form>

  </div>
</nav>


<!-- ===================== Logo ================== -->
<div style="text-align: center">
  <br>
  <img src="http://www.uppic.org/image-D4ED_5746CCE1.jpg">
  <br>
  <br>
</div>

<!-- ===================== sidebar l ================== -->
<div class="row">
  <div class="col s2 ">
    <div class="transbox">
      <div  style="padding: 10px">
        <div class="head">
          <i class="medium material-icons">airplay</i>
          <h5>Tablets</h5>
        </div>
        <p>
          <a href="asus">ASUS</a> <br>
          <a href="dell">DELL</a><br>
          <a href="lenovo">Lenovo</a><br>
          <a href="hp">Hp</a><br>
          <a href="acer">Acer</a><br>
          <a href="samsung">Samsung</a><br>
          <a href="sony">Sony</a><br>
          <a href="apple">Apple</a><br>
          <a href="toshiba">Toshiba</a><br>
          <a href="microsoft">Microsoft</a></p>
        </div>
      </div>
    </div>

    <!-- ===================== body ================== -->

    <div class="col s8 ">
      <div class="transbox">
        <!-- =======pop ======-->
        <div  style="padding: 5px">
          <div  class="head">
            <h3 >Popular</h3>
            <i class="medium material-icons">loyalty</i><br>

            <h4 style="color: white">Dell XPS 13</h4>

            <img src="https://dri1.img.digitalrivercontent.net/Storefront/Company/msintl/images/English/en-INTL-Dell-XPS-13-i5-8gb-128gb-QF9-00096/PDP/en-INTL-PDP0-Dell-XPS-13-i5-8gb-128gb-QF9-00096-P5.jpg">

          </div>
        </div>


        <!-- =======news ======= -->
        <div  style="padding: 5px">
          <div  class="head">
            <h3>News</h3>
            <i class="medium material-icons">speaker_notes</i>
          </div>
        </div>


        <br>
        <div class="content">
          <div  style="padding: 10px">
            <img src="http://www.uppic.org/image-660F_5746E925.jpg">
            <p>&emsp;&emsp;&emsp;Apple เตรียมเปิดตัว MacBook Pro รุ่นใหม่ ด้วยดีไซน์บางเบา พร้อมหน้าจอ OLED และรองรับ Touch ID
              ผลิตภัณฑ์จากทาง Apple อย่าง MacBook Pro ถือเป็นผลิตภัณฑ์ที่ได้รับความนิยมจากผู้ใช้งานทั่วโลกเลยก็ว่าได้ และล่าสุดนักวิเคราะห์อย่าง Ming-Chi Kuo ได้ออกมาเปิดเผยว่าทาง Apple เตรียมที่จะเปิดตัว MacBook Pro รุ่นใหม่ ปลายปีนี้</p>
              <a href="http://www.notebookfocus.com/read-news/apple-prepping-thinner-macbook-pros-with-oled-screen-above-keyboard-touch-id/">อ่านต่อ...</a>
            </div>      
          </div>
          <br>
          <div class="content">
            <div  style="padding: 10px">
              <img src="http://www.uppic.org/image-2957_5746E925.jpg">
              <p>&emsp;&emsp;&emsp;Asus เตรียมวางจำหน่าย Zenbook UX306UA ที่มาพร้อมสเปคเครื่องสุดแรง ผ่าน Amazon เร็วๆ นี้
                สำหรับโน๊ตบุ๊คในตระกูล Zenbook จากทาง Asus ถือเป็นรุ่นยอดนิยมที่มีผู้ใช้งานชื่นชอบเป็นอย่างมาก เนื่องจากโน๊ตบุ๊คในตระกูล Zenbook มีจุดเด่นอยู่หลายส่วนด้วยกัน</p>
                <a href="http://www.notebookfocus.com/read-news/announce-asus-zenbook-ux306ua/">อ่านต่อ...</a>
              </div>
            </div>
            <br>
            <div class="content">
              <div  style="padding: 10px">
                <img src="http://www.uppic.org/image-491B_5746E925.jpg">
                <p>&emsp;&emsp;&emsp;HP เปิดตัว Chromebook รุ่นใหม่ ที่บางเพียง 12.7 มม. พร้อมด้วยจอ QHD 13 นิ้ว และขุมพลัง Intel Skylake บนบอดี้โลหะขัดเงา
                  ล่าสุดทาง HP ได้ทำการเปิดตัวโน๊ตบุ๊ค Chromebook รุ่นใหม่ นามว่า HP Chromebook 13 ณ เมือง New York City ซึ่งจุดเด่นของ HP Chromebook 13 มีอยู่หลายส่วนด้วยกัน เริ่มตั้งแต่ ดีไซน์ตัวเครื่องที่ผลิตมาจากอะลูมีเนียมขัดเงา โดยมีความบางเพียง 12.7 มิลลิเมตร</p>
                  <a href="http://www.notebookfocus.com/read-news/announce-hp-new-chromebook-13/">อ่านต่อ...</a>
                </div>
              </div>
              <br>
              <div class="content">
                <div  style="padding: 10px">
                  <img src="http://www.uppic.org/image-6B78_5746E925.jpg">
                  <p>&emsp;&emsp;&emsp;MacBook 2016 เปิดตัวแล้ว! พร้อมอัปเกรดซีพียูเป็น Intel Skylake Core M และเพิ่มสีใหม่ Rose Gold
                    ทาง Apple ได้ทำการเปิดตัว MacBook 2016 รุ่นอัปเกรด ที่มาพร้อมกับซีพียู Intel Skylake Core M ที่มีให้เลือกทั้ง M3, M5 และ M7 ซึ่งความพิเศษของซีพียูตัวใหม่ที่อยู่ใน MacBook 2016 คือ มีความเร็วกว่ารุ่นก่อนหน้าถึง 15%</p>
                    <a href="http://www.notebookfocus.com/read-news/announce-hp-new-chromebook-13/">อ่านต่อ...</a>
                  </div>
                </div>
                <br>
                <div class="content">
                  <div  style="padding: 10px">
                    <img src="http://www.uppic.org/image-7FC9_5746E8B9.jpg">
                    <p>&emsp;&emsp;&emsp;ที่สุดแห่งความบาง! เอเซอร์ เปิดตัว Aspire S13 โน๊ตบุ๊คที่บางเพียง 14.5 มิลลิเมตร พร้อมขุมพลัง Skylake
                      ล่าสุดทางเอเซอร์ได้ทำการเปิดตัวโน๊ตบุ๊ค Ultra-Slim รุ่นใหม่ นามว่า Acer Aspire S13 โดยมีน้ำหนักของตัวเครื่องเพียง 1.36 กิโลกรัม และบางเพียง 14.5 มิลลิเมตร เท่านั้น</p>
                      <a href="http://www.notebookfocus.com/read-news/launch-new-macbook-2016-rose-gold/">อ่านต่อ...</a>
                    </div>
                  </div>
                  <br>
                  <div class="content">
                    <div  style="padding: 10px">
                      <img src="http://www.uppic.org/image-F1E1_5746EA20.jpg">
                      <p>&emsp;&emsp;&emsp;ที่สุดแห่งความบางเบา! HP เปิดตัว โน๊ตบุ๊คแฟลกชิป ที่มีดีไซน์เครื่องบางเพียง 10.4 มม. พร้อมจอ FHD, แรม 8 GB, ฮาร์ดดิสก์ 512 GB และพอร์ต Thunderbolt ชน Macbook Air ทาง HP ได้สร้างความตื่นตาตื่นใจด้วยการเปิดตัวโน๊ตบุ๊ครุ่นใหม่นามว่า HP Spectre 13 โดยจุดเด่นจะอยู่ที่ดีไซน์ตัวเครื่องที่มีความบางเพียง 10.4 มิลลิเมตร เท่านั้น เรียกได้ว่า เป็นโน๊ตบุ๊คที่บางที่สุดในโลก ณ ชั่วโมงนี้เลยก็ว่าได้</p>
                      <a href="http://www.notebookfocus.com/read-news/announced-hp-spectre-13-flagship-notebook-and-new-logo/">อ่านต่อ...</a>
                    </div>
                  </div>
                  <br>
                  <div class="content">
                    <div  style="padding: 10px">
                      <img src="http://www.uppic.org/image-EA7F_5746EA20.jpg">
                      <p>&emsp;&emsp;&emsp;โตชิบ้า เปิดตัว โน๊ตบุ๊คตระกูล Portege เชิงธุรกิจ มาพร้อม แรม 16 GB จอ FHD และฮาร์ดดิสก์ 1 TB
                        สำหรับโน๊ตบุ๊คตระกูล Portege ถือเป็นโน๊ตบุ๊คที่มีดีไซน์ตัวเครื่องแบบกระทัดลัด พกพาได้สะดวก และสเปคเครื่องที่สามารถตอบโจทย์ได้อย่างมีประสิทธิภาพ ซึ่งกลุ่มเป้าหมายของโน๊ตบุ๊คกลุ่มนี้จะเน้นไปทางเชิงธุรกิจ</p>
                        <a href="http://www.notebookfocus.com/read-news/announce-toshiba-portege-z30-c-and-a30-c/">อ่านต่อ...</a>
                      </div>
                    </div>
                    <br>
                    <div class="content">
                      <div  style="padding: 10px">
                        <img src="http://www.uppic.org/image-7BEE_5746EA20.jpg">
                        <p>&emsp;&emsp;&emsp;Toshiba อัปเกรดสเปคเครื่องตระกูล Tecra A50-C ให้มาพร้อมกับซีพียู Intel Sky Lake และแรม 8 GB
                          โดยโน๊ตบุ๊ค Toshiba ตระกูล Tecra ถูกพัฒนามาเพื่อใช้งานด้านธุรกิจ โดยมีจุดเด่นที่คีย์บอร์ดแบบ Spill-Resistant Keyboard คือ ตัวคีย์บอร์ดมีความสามารถในการกันน้ำได้ และตัวปุ่มคีย์บอร์ดก็มีขนาดใหญ่เป็นพิเศษ</p>
                          <a href="http://www.notebookfocus.com/read-news/announce-toshiba-portege-z30-c-and-a30-c/http://www.notebookfocus.com/read-news/Toshiba-updates-Tecra-A50-C-series-with-Skylake/">อ่านต่อ...</a>
                        </div>
                      </div>
                      <br>


                    </div>
                  </div>

                  <!-- ===================== sidebar r ================== -->

                  <div class="col s2 ">
                    <div class="transbox">
                      <div  style="padding: 10px">
                        <div class="head">
                          <i class="medium material-icons">shopping_basket</i>
                          <h5>My Shopping Cart</h5>
                        </div>
                        <!--shopping_basket  airplay-->

                      </div>


                    </div>
                  </div>
                </div>


              </body>

              </html>