doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    // fonr
    link(href='https://fonts.googleapis.com/css?family=PT+Serif', rel='stylesheet', type='text/css')
  body(style='background-color: #e0f7fa')
    // ======================== bar ==================
    nav.navbar-fixed(style='position: fixed')
      .nav-wrapper.indigo.darken-4
        a.button-collapse(href='#', data-activates='mobile-demo')
          i.material-icons menu
        ul.hide-on-med-and-down
          li
            a(href='/') Home
        // =========== Login  ===========
        form.col.s13(method='post', action='contect_us')
          .row
            .right
              button.waves-effect.waves-light.btn(type='submit') Contect us!
            .right
              i.material-icons perm_identity
    // ===================== Logo ==================
    br
    br
    br
    div(style='text-align:center')
      br
      img(src='http://www.uppic.org/image-D4ED_5746CCE1.jpg')
      br
      br
    // ===================== sidebar l ==================
    .row
      .col.s2
        .transbox
          div(style='padding: 10px')
            .head
              i.medium.material-icons airplay
              h5 Tablets
            p
              | ASUS
              br
              |           DELL
              br
              |           Lenovo
              br
              |           Hp
              br
              |           Acer
              br
              |           Samsung
              br
              |           Sony
              br
              span(style='color:red') Apple
              br
              |           Toshiba
              br
              |           Microsoft
      // ===================== body ==================
      .col.s9
        .transbox
          div(style='padding: 10px')
            .head
              // <div class="container">
              div(style='padding: 5px')
                .head
                  h3 Apple
              img(src='http://www.logospike.com/wp-content/uploads/2015/12/Apple_Logo_Png_09.png')
              ul.menu-bar
                a(href='#1')
                  li.menu-list Apple MacBook Pro 15 Retina Display2.5GHz qual-core lntel i7 16GBHDD 512GB
                br
                a(href='#2')
                  li.menu-list
                    | Apple MacBook Pro Retina 15 2.2GHz16GB256GB FlashIntel Iris Graphics Pro (Silver)
                br
                a(href='#3')
                  li.menu-list Apple MacBook Pro with Retina 16GB Core i7 15.4 (Silver)
                br
        br
        .transbox
          h1#1.font  Apple MacBook Pro 15 Retina
          .list
            img(src='http://cdn.thelaptopbulletin.com/wp-content/uploads/2015/06/Macbook_Pro_Retina_diaply_2015_design2.jpg')
          h5  Property
          p
            | Manufacturer: 
            br
            |         ProductID: 
            br
            |         Processor: 
            br
            |         Hard_Disk: 
            br
            |         Graphics Processing Unit: 
            br
            |         Describe: 
            br
            |         Stock
            br
            |         Price
            br
        br
        .transbox
          h1#2.font  Apple MacBook Pro Retina 15
          .list
            img(src='http://www.uppic.org/image-836E_5747C952.jpg')
          h5  Property
          p
            | Manufacturer: 
            br
            |         ProductID: 
            br
            |         Processor: 
            br
            |         Hard_Disk: 
            br
            |         Graphics Processing Unit: 
            br
            |         Describe: 
            br
            |         Stock
            br
            |         Price
            br
        br
        .transbox
          h1#3.font  Apple MacBook Pro with Retina
          .list
            img(src='http://www.uppic.org/image-865B_5747C990.jpg')
          h5  Property
          p
            | Manufacturer: 
            br
            |         ProductID: 
            br
            |         Processor: 
            br
            |         Hard_Disk: 
            br
            |         Graphics Processing Unit: 
            br
            |         Describe: 
            br
            |         Stock
            br
            |         Price
            br
        br
        //
          <div class="transbox">
          <h1 class="font">&emsp;Apple Macbook Air 11 1.6 Corei54GB RAM128GB</h1>
          <div class="list">
          <img src="http://www.uppic.org/image-472F_57471390.jpg">
          </div>
          <h5>&emsp;คุณสมบัติ</h5>
          <p>&emsp;&emsp;&emsp; asdsad</p>
          </div>
      // ===================== sidebar r ==================
