body {
    background-color: #e0f7fa;
    font-family: 'PT Serif', serif;
}

.transbox {
    background-color: #1a237e;
    color: #ffffff;
    padding:10px;
    border-radius: 10px;
    border: 1px solid #ffffff;
}
.head {
    text-align: center;
    color:#FEF102;
}

.content {
    background-color: #b3e5fc;
    color: #595959;
    padding:10px;
    border-radius: 10px;
    border: 1px solid #ffffff;
}

img:hover {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

img {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}